@media (min-width: 640px) {
    .uagb-container-inner-blocks-wrap {
        max-width: 640px !important;
    }
}
@media (min-width: 768px) {
    .uagb-container-inner-blocks-wrap {
        max-width: 768px !important;
    }
}
@media (min-width: 1024px) {
    .uagb-container-inner-blocks-wrap {
        max-width: 1024px !important;
    }
}
@media (min-width: 1280px) {
    .uagb-container-inner-blocks-wrap {
        max-width: 1280px !important;
    }
}
@media (min-width: 1536px) {
    .uagb-container-inner-blocks-wrap {
        max-width: 1536px !important;
    }
}