:root {
	--header-height: 108px;
	--admin-bar-offset: 46px;
}

@media screen and (min-width: 783px) {
	:root {
		--header-height: 108px;
		--admin-bar-offset: 32px;
	}
}

.header {
	.header__brand {
		@apply block font-bold text-lg;
	}
	.header__nav {
		.menu {
			.menu__item {
				position: relative;
				.menu__item--active {
					&:after {
						content:'';
						width: 100%;
						position: absolute;
						bottom: -3px;
						left: 0;
						width: 100%;
						height: 3px;
						background-color: var(--wp--preset--color--primary);
					}
					
				}
				a {
					@apply flex gap-2 items-center py-2 px-4 cursor-pointer;
					.icon {
						@apply transition-transform;
					}
				}
				.sub-menu {
					position: absolute;
					top: 100%;
					left: 1rem;
					background-color: #fff;
					border: 1px solid #ccc;
					min-width: 200px;
					opacity: 0;
					pointer-events: none;
					transform: translateY(1rem);
					@apply flex flex-col rounded-lg transition-all;
				}
				&:hover {
					> a .icon {
						transform: rotate(-180deg);
					}
					.sub-menu {
						opacity: 1;
						pointer-events: auto;
						transform: translateY(0);
					}
				}
			}
		}
	}
	.menu {
		@apply flex gap-4;
	}
}


.header__search {
	position: absolute;
	top: -100%;
	right: 0;
	height: calc(var(--header-height) + 1px);
	width: 100%;
	z-index: 1000;
	transition: top 0.3s ease-in-out;
	@apply bg-white border-b border-secondary flex;
	form {
		flex-grow: 1;
	}
	button {
		aspect-ratio: 1 / 1;
		@apply grid place-items-center;
	}
	.search-field {
		background-color: transparent;
		border-width: 0;
		@apply text-secondary text-3xl;
	}
}

.header__search--active {
	top: 0;
}

.admin-bar .header {
	top: var(--admin-bar-offset);
}

.admin-bar .header__search--active {
	top: calc(var(--admin-bar-offset));
}