.content-area {
    @apply container mx-auto;
}

.post-type-archive-product,
.tax-product_cat,
.tax-pa_marca,
.single-product {
    > main {
        @apply container mx-auto grid grid-cols-1 gap-8 py-8 lg:grid-cols-[300px_1fr];
        .sidebar {
            @apply hidden lg:block;
            order: -1;
        }
    }
}

.sidebar {
    .widget {
        > div {
            @apply p-4;
        }
    }
    .wp-block-woocommerce-product-categories {
        @apply mb-0;
         > .wc-block-product-categories-list {
            &-item {
                a {
                    @apply block py-2;
                }
            }
            > .wc-block-product-categories-list-item {
                > a {
                    @apply flex items-center justify-between py-2;
                    &:after {
                        content: '';
                        background: url('../images/icons/chevron-down.svg') no-repeat center/contain;
                        @apply block w-4 h-4 -rotate-90;
                    }
                }
                &.is-open {
                    > a:after {
                        @apply rotate-0;
                    }
                }
                .wc-block-product-categories-list {
                    @apply space-y-0.5 hidden;
                    li {
                        a {
                            @apply block p-2 text-sm;
                        }
                    }
                }
                
            }
        }
    }
}