.footer {
	background-color: $dark-gray;
	font-size: .8rem;
	color: $white;
	&__widgets {
		padding-top: 2rem;
	}
	&__credits {
		padding: 1rem 0;
		&__text {
			padding: .7rem;
			margin-bottom: 0;
			line-height: 1;
		}
		&__nav {
			@include breakpoint(large) {
				float: right;
			}
		}
	}
}