.header {
	padding: 1rem 0;
	position: absolute;
	width: 100%;
	z-index: 10;
	transition: background-color .25s;
	&__brand {
		display: block;
		background: url('../images/brand--white.png') no-repeat center/contain;
		height: 42px;
		text-indent: -9999px;
		@include breakpoint(large) {
			background-position: left center;
		}
	}
	&__toggle {
		display: block;
		width: 32px;
		.icon-bar {
			border-top: 3px solid $primary-color;
			display: block;
			margin-top: .6rem;
			&:first-child {
				margin-top: .4rem;
			}
		}
	}
	&__nav {
		float: right;
		.menu {
			&__item {
				position: relative;
				&--active {
					&:after {
						content:'';
						width: 100%;
						position: absolute;
						bottom: -3px;
						left: 0;
						width: 100%;
						height: 3px;
						background-color: $primary-color;
					}
					
				}
				a {
					color: $header-nav-color;
				}
			}
		}
	}
	&--stuck {
		background-color: $header-stuck-color;
		position: fixed;
		box-shadow: 0 3px 4px rgba($black, .15);
		.header {
			&__brand {
				background-image: url('../images/brand--default.png')
			}
			&__nav {
				.menu {
					&__item {
						a {
							color: $header-stuck-nav-color;
						}
					}
				}
			}
		}
	}
}