.page-header {
	position: relative;
	height: 320px;
	overflow: hidden;
	background-color: $dark-gray;
	&__content {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		text-align: center;
		padding: 0 1rem;
		z-index: 1;
		color: $white;
	}
	&__bg {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		height: 100%;
		opacity: .4;
	}
	@include breakpoint(large) {
		height: 400px;
	}
}