// Templet variables

// Header
$header-nav-color: $white;
$header-stuck-nav-color: $dark-gray;
$header-stuck-color: $white;

// Footer
$footer-bg: $dark-gray;
$footer-color: $white;
$footer-title-color: $footer-color;
$footer-link-color: $primary-color;