
/* Menu */

.mobile__bg {
    @apply bg-primary fixed top-0 left-0 w-full h-screen flex flex-col p-4;
    z-index: 1000;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
    justify-content: center;
    &__nav {
      text-align: center;
      text-transform: uppercase;
  
      &__main {
        list-style: none;
        padding: 0;
        font: 700 32px "Montserrat";
        li {
          margin-bottom: 20px;
          a {
            color: #fff;
          }
        }
      }
    }
    .social-links {
      justify-content: center;
      li {
      }
      a {
        padding: 0.75rem;
        color: $white;
        font-size: 1.4rem;
      }
      svg {
        fill: $white;
      }
    }
    &--open {
      visibility: visible;
      opacity: 1;
    }
    .mobile__nav__icon {
        span,
        span:before,
        span:after {
            @apply bg-white;
        }
    }
}