
/* Menu */

.off-canvas {
    @apply bg-primary fixed top-0 left-0 w-full h-screen flex flex-col p-4;
    z-index: 1000;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
    justify-content: center;
    .off-canvas__nav {
        li {
          a {
            color: #fff;
						@apply flex gap-2 items-center justify-between py-4;
          }
        }
    }
    &.off-canvas--open {
      visibility: visible;
      opacity: 1;
    }
    .off-canvas__icon {
        span,
        span:before,
        span:after {
            @apply bg-white;
        }
    }
}

.admin-bar {
	.off-canvas {
		padding-top: calc( var(--admin-bar-offset) + 1rem );
	}
}